.containers{
    height: 100%;
    /* width: ; */
}

.img{
    width: 100%;
    display: block;
}

.carousel-H{
    font-size: 4rem;
    line-height: 4pc;
    color: #fff;
    margin-bottom: 1.5rem;
    font-family: Houschka-medium;
}

.Parg{
    font-size: 2rem;
    line-height: 40px;
    color: #000053;
    margin-bottom: 2.5rem;
    font-family: Basis-regular;
    /* opacity: 0; */
}